<div class="row">
  <div class="col-6">
    <div class="form-group">
      <label for="tipoSeguro">Tipo de Seguro:</label>
      <select class="form-control" id="tipoSeguro" (change)="onSelecionarTipoSeguro($event.target.value)">
        <option selected="selected">.: Selecione :.</option>
        <option *ngFor="let tipo of tipos" [value]="tipo.codigo">{{ tipo.nome }}</option>
      </select>
      <!-- Fazer opção da placa do veículo -->
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12" *ngIf="seguros.length > 0; else nenhumSeguro">
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Identificação do Cliente (CPF / CNPJ)</th>
          <th scope="col">Tipo do Seguro</th>
      </thead>
      <tbody>
        <tr *ngFor="let seguro of seguros">
          <td>{{ seguro.id }}</td>
          <td>{{ seguro.cpfCnpj }}</td>
          <td>{{ seguro.tipo }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #nenhumSeguro>
    <p>Nenhum seguro encontrado.</p>
  </ng-template>
</div>